<div class="container-fluid" th:fragment="header" style="background-color:#00234c; color:white; padding:10px; white-space:nowrap;">
	<div class="row">
		<div class="col-4">
			<img alt="DMACC Logo" name="DMACC Logo" src="/images/dmacclogo-white.png" class="float-left">
		</div>
		<div class="col-5">
			<style type="text/css">#mastlink:hover {color: white; border-radius: 2px; }</style>
			<h2 style="white-space:nowrap;">Parking Permit</h2><br />
			<h6 style="white-space:nowrap; padding: 3px;"><a id="mastlink" title="Back to home page" href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a id="mastlink" title="Create a new record" href="/new">Enter New Student Record</a></h6>
		</div>
		<div class="col">
		</div>
	</div>
</div>